/* You can add global styles to this file, and also import other style files */
/* GLOBAL BLUR SHAPES  ----------------------------------------- */
.blur-blob { position:absolute; border-radius:50%; filter:blur(90px); opacity:.12; pointer-events:none; }
.blob-yellow { background:#ffdf52; width:470px; height:470px; top:-120px; left:-180px; }
.blob-cyan   { background:#3bd6ff; width:350px; height:350px; bottom:-140px; right:-120px; }
.blob-magenta{ background:#ff3bd5; width:320px; height:320px; top:35%; right:35%; }
