<div class="blur-blob blob-yellow"></div>
<div class="blur-blob blob-cyan"></div>
<div class="blur-blob blob-magenta"></div>

<a routerLink="/" class="back-btn" aria-label="Back to Home">▼</a>

<div class="about-container">
  <h1 class="page-title">About UniPz</h1>

  <div class="glass-card">
    <p>Welcome to <strong>University of Prizren</strong> – place of inovation and technology</p>
    <ul class="highlight-points">
      <li>studimi falas</li>
      <li>labs </li>
      <li>International exchange</li>
    </ul>
    <p>Join us and build a brighter future!</p>
    <p class="news" >Contact US</p>
    <p>☎️ phone: +383 44 444 444 &nbsp;&nbsp;&nbsp; ✉️ email: uniPz&#64;unipz.com</p>

  </div>
  <p class="news" >Evente</p>
  <div class="text-layout">
    <div class="column full-width">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqueSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, </p>

    </div>
    <div class="column right-align">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqueSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, </p>

    </div>
  </div>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
    illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
    odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
    quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
    . Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
</div>
